/* ------------------------------------------- */
/* Block: Page Hero
/* ------------------------------------------- */
.page-hero {
  position: relative;
  text-align: center;
  width: 100%;
}

.page-hero__content {
  position: relative;
}

.page-hero__mask {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  mask-image: url('../images/banner.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 400px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/banner.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.page-hero__img {
  background-color: var(--wp--preset--color--ro-medium-purple);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  position: absolute;
  width: 100%;
}

.page-hero__headline {
  color: var(--wp--preset--color--ro-white);
  font-size: 3.75rem;
  line-height: 4.375rem;
  margin: 1.5rem 0 2rem;
  text-align: center;
  z-index: 1;
}

.page-hero__subhead {
  color: var(--wp--preset--color--ro-white);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-medium);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
}



/* ------------------------------------------- */
/* Block: Section
/* ------------------------------------------- */
.ro--section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.ro--section__bg-img {
  position: absolute;
  width: 25rem;
}

.ro--section__bg-img--left {
  left: 0;
}

.ro--section__bg-img--right {
  right: 0;
}

.ro--section__wavy-top {
  mask-image: url('../images/section-wavy-top.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 110px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/section-wavy-top.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.ro--section__wavy-bottom {
  mask-image: url('../images/section-wavy-bottom.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 110px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/section-wavy-bottom.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.ro--section__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
  width: 100%;
}

.ro--section__container--high-density {
  padding: 1rem 0;
}

.ro--section__container--low-density {
  padding: 3rem 0;
}

@media (min-width: 600px) {
  .ro--section__container {
    padding: 3rem 0;
  }
}

.ro--section-bg--light-green {
  background-color: var(--wp--preset--color--ro-light-green);
}

.ro--section-bg--light-purple {
  background-color: var(--wp--preset--color--ro-light-purple);
}

.ro--section-bg--cream {
  background-color: var(--wp--preset--color--ro-cream);
}

.ro--section-bg--white {
  background-color: var(--wp--preset--color--ro-white);
}

.ro--section--browse-menus .ro--section__container {
  padding: 1rem 0;
}

.ro--section--browse-menus .wp-block-image {
  margin: 0 !important;
}

.ro--section .wp-block-separator {
  border-bottom: none;
  margin: 64px auto;
  width: 75vw;
}



/* ------------------------------------------- */
/* Block: Content Container
/* ------------------------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ro--content-container {
  animation: fadeIn ease-out 200ms;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  position: relative;
  width: 100%;
  z-index: 2;
}

@media (min-width: 600px) {
  .ro--content-container {
    padding: 1.5rem 5vw;
  }
}
 
.ro--content-container--full-width { 
  width: 100%;
}

.ro--content-container--regular {
  max-width: 840px;
}

.ro--content-container--wide {
  max-width: 1200px;
}

.ro--content-container--slides {
  padding: 0;
}



/* ------------------------------------------- */
/* Block: Illustration
/* ------------------------------------------- */
.illustration-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: 10px solid red;
}

.illustration {
  position: absolute;
  z-index: 1;
}

.illustration--left {
  left: 0;
}

.illustration--right {
  right: 0;
}

.illustration--top {
  top: 0;
}

.illustration--bottom {
  bottom: 0;
}

div[data-type="rollinoats/illustration"],
div[data-type="rollinoats/illustration"]:hover,
div[data-type="rollinoats/illustration"]:focus {
  border: none;
}


.illustration--green path {
  fill: #6a933e;
}

.illustration--dark-green path {
  fill: #355A24;
}

.illustration--purple path {
  fill: #8F529A;
}

.illustration--dark-purple path {
  fill: #4A2664;
}

.illustration--cream path {
  fill: #F7F3EA;
}

.illustration--white path {
  fill: #FFFFFF;
}

@media screen and (max-width: 55rem) {
  .illustration {
    opacity: .25 !important;
  }
}



/* ------------------------------------------- */
/* Block: Fresh Since
/* ------------------------------------------- */
@keyframes rotateSpinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.ro--fresh-since__img-wrapper {
  position: relative;
}

.ro--fresh-since {
  animation: rotateSpinner 25s linear infinite;
  position: absolute;
  z-index: 1;
}

.ro--fresh-since--left {
  left: 0;
}

.ro--fresh-since--right {
  right: 0;
}



/* ------------------------------------------- */
/* Block: Marquee Banner
/* ------------------------------------------- */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee-banner {
  align-items: center;
  background-color: var(--wp--preset--color--ro-medium-purple);
  color: var(--wp--preset--color--ro-cream);
  display: flex;
  font-family: var(--wp--preset--font-family--roc-grotesk);
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-banner__items {
  animation: 40s linear 0s infinite normal none running marquee;
  padding-right: .5rem;
}

.marquee-banner__items > span {
  font-size: 28px;
  font-weight: 700;
  padding: 0 .5rem;
}




/* ------------------------------------------- */
/* Block: Logo
/* ------------------------------------------- */
.ro--logo {
  transition: width 0.1s ease-out;
  width: 12rem;
}

@media (min-width: 1125px) {
  .ro--logo {
    transition: none;
    width: 9rem;
  }
}


/* ------------------------------------------- */
/* Block: Query Pagination
/* ------------------------------------------- */
.wp-block-query-pagination-numbers {
  display: flex;
  gap: 1rem;
}

.wp-block-query-pagination-numbers .page-numbers {
  color: var(--wp--preset--color--ro-dark-purple);
  text-decoration: none;
}

.wp-block-query-pagination-numbers .page-numbers.current {
  border-bottom: 2px solid var(--wp--preset--color--ro-medium-purple);
  color: var(--wp--preset--color--ro-medium-purple);
  padding-bottom: 2px;
}



/* ------------------------------------------- */
/* Block: Embed
/* ------------------------------------------- */
.wp-block-embed {
  margin: 2rem 0;
}

.wp-block-embed figcaption {
  color: var(--wp--preset--color--ro-medium-purple);
  display: block;
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-small);
  margin: 1rem auto;
  text-align: center;
}



/* ------------------------------------------- */
/* Block: Post
/* ------------------------------------------- */
.wp-block-post a {
  display: inline-block;
}

.wp-block-post-date::after {
  content: "*";
  display: inline-block;
  margin: 0 .25rem;
}



/* ------------------------------------------- */
/* Block: Post Content
/* ------------------------------------------- */
.ro--blog-post h1,
.ro--blog-post h2,
.ro--blog-post h3 {
  font-size: 2rem;
  margin: 2rem 0;
}

.ro--blog-post .wp-block-image {
  margin: 2rem auto;
}


/* ------------------------------------------- */
/* Block: Read More
/* ------------------------------------------- */

.wp-block-read-more::before,
.wp-block-read-more::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--wp--preset--color--ro-medium-purple);
    top: 100%;
    left: 0;
    pointer-events: none;
}

.wp-block-read-more::before {
    content: '';
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s;
}

.wp-block-read-more:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

/* ------------------------------------------- */
/* Block: Navigation Link
/* ------------------------------------------- */
.post-navigation-link__label {
  color: var(--wp--preset--color--ro-dark-purple);
  display: block;
  margin-bottom: .5rem;
}

.post-navigation-link__title {
  color: var(--wp--preset--color--ro-dark-purple);
  letter-spacing: 1px;
  margin-bottom: .5rem;
  text-transform: uppercase;
}



/* ------------------------------------------- */
/* Block: Community Event Image
/* ------------------------------------------- */
.community-event {
  background-size: cover;
  max-width: 280px;
  min-height: 280px;
  position: relative;
  width: 100%;
}

.community-event__date {
  align-items: center;
  background-color: var(--wp--preset--color--ro-cream);
  color: var(--wp--preset--color--ro-dark-purple);
  display: flex;
  flex-direction: column;
  font-family: var(--wp--preset--font-family--new-spirit);
  font-size: 1.5rem;
  font-weight: 600;
  height: 90px;
  justify-content: center;
  position: absolute;
  right: 12px;
  text-align: center;
  text-transform: uppercase;
  top: 12px;
  width: 90px;
}

.community-event__date span {
  display: block;
}

.community-event__day {
  margin-top: -4px;
}



/* ------------------------------------------- */
/* Block: Slideshows
/* ------------------------------------------- */
.ro--slideshow {
  align-items: center;
  display: flex;
  position: relative;
}

.ro--slideshow__slide {
  background-size: cover;
  background-repeat: no-repeat;
  white-space: initial;
}

.ro--slideshow__slide .wp-block-image {
  margin: 0;
}

.ro--slideshow__slide h1,
.ro--slideshow__slide h2,
.ro--slideshow__slide h3 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-top: 0;
}

@media (min-width: 1024px) {
  .ro--slideshow__slide h1,
  .ro--slideshow__slide h2,
  .ro--slideshow__slide h3 {
    font-size: 4rem;
  }
}


.ro--slideshow__bullets {
  align-items: center;
  display: flex;
  left: 1rem;
  justify-content: center;
  margin-top: 3rem;
  position: absolute;
  width: 100%;
}

.ro--slideshow__bullet {
  background-color: var(--wp--preset--color--ro-light-green);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  height: 12px;
  margin: 0 1rem 0 0;
  outline: none;
  padding: 0;
  transition: background-color 0.1s ease-out;
  width: 12px;
}

.ro--slideshow__bullet.glide__bullet--active {
  background-color: var(--wp--preset--color--ro-dark-green);
}



/* ------------------------------------------- */
/* Block: Social Icons
/* ------------------------------------------- */
.ro--social-icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 3rem;
}

.ro--social-icons svg {
  height: 1.5rem;
  width: 1.5rem;
}

@media (min-width: 1024px) {
  .ro--social-icons {
    width: 4rem;
  }
}


/* ------------------------------------------- */
/* Custom Styles
/* ------------------------------------------- */
.ro--cafe-menu__pricing,
.ro--cafe-menu__pricing strong {
  display: block;
  margin-left: 1rem;
  text-align: right;
  width: max-content;
}

.ro--cafe-menu__columns .is-content-justification-space-between {
  align-items: flex-start;
}


/* ------------------------------------------- */
/* Block overrides
/* ------------------------------------------- */
.wp-block-image img {
  max-width: 100%;
  width: auto;
}


/* Menu Icon */
.wp-block-navigation__responsive-container-open:not(.always-shown),
.wp-block-navigation__responsive-container-open {
  display: flex;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

/* Nav List */
.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

@media (min-width: 1125px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
  background-color: transparent;
  border: none;
}

.ro--our-story__small-heading {
  display: block;
  margin: 0 auto !important;
  max-width: 28ch;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.ro--contact__illustration-container {
  position: relative;
}

.wp-block-button__link.has-ro-medium-purple-background-color {
  color: var(--wp--preset--color--ro-cream)
}

.wp-block-post-template.is-flex-container .wp-block-post {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
}

.ro--columns--community-grocer {
  margin-top: -8rem;
}

.ro--img--community-grocer {
  margin-top: -10rem;
}