/* ------------------------------------------- */
/* Base
/* ------------------------------------------- */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

/* ------------------------------------------- */
/* Form Styles
/* ------------------------------------------- */
label,
legend {
  color: var(--wp--preset--color--ro-dark-green);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-small);
  font-weight: normal !important;
}

input,
textarea {
  border: none;
  border-radius: 0;
  color: var(--wp--preset--color--ro-dark-green);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-medium);
  padding: .5rem 1rem !important;
}

.gform_button {
  background-color: var(--wp--preset--color--ro-medium-green);
  border: none;
  border-radius: 0;
  color: var(--wp--preset--color--ro-white);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-small) !important;
  font-weight: 700;
  letter-spacing: 2px;
  padding: .5rem 1.5rem !important;
  text-transform: uppercase;
}



/* ------------------------------------------- */
/* Type styles
/* ------------------------------------------- */
.font--roc-grotesk {
  font-family: var(--wp--preset--font-family--roc-grotesk);
}

.font--sans-serif {
  font-family: var(--wp--preset--font-family--basic-sans);
}

p {
  margin: 0 auto 1rem;
  max-width: 90ch;
}

p:last-of-type {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto 1rem;
}


h1, h2, h3, h4, h5, h6, p, a {
  position: relative;
  z-index: 2;
}


/* ------------------------------------------- */
/* Link styles
/* ------------------------------------------- */
.ro--read-more {
  border-bottom: 2px solid var(--wp--preset--color--ro-medium-purple);
  color: var(--wp--preset--color--ro-medium-purple);
  padding-bottom: 2px;
}

.ro--link,
.ro--link a {
  text-decoration: none;
}

.ro--link--green {
  border-bottom: 1px solid var(--wp--preset--color--ro-medium-green);
}

.ro--link--purple {
  border-bottom: 1px solid var(--wp--preset--color--ro-medium-purple);
}


/* ------------------------------------------- */
/* Layout styles
/* ------------------------------------------- */
.wp-block-columns {
  margin-bottom: 0;
}

.is-root-container,
.entry-content {
  overflow-x: clip;
}

figure {
  margin: 0;
}


/* ------------------------------------------- */
/* List styles
/* ------------------------------------------- */
.ro--list li {
  margin-bottom: .5rem
}

.ro--list--asterisk {
  list-style-type: none;
  font-family: var(--wp--preset--font-family--basic-sans);
  font-weight: 700;
  padding: 0;
  margin: 1rem 0 0;
}

.ro--list--asterisk li::before {
  content: "*";
  display: inline-block;
  list-style-type: none;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.ro--list--unstyled {
  list-style-type: none;
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-medium);
  padding: 0;
  margin: 1rem 0 0;
}

.ro--list--strike {
  text-decoration: line-through;
}

.ro-list--styled {
  font-family: var(--wp--preset--font-family--roc-grotesk);
  font-size: var(--wp--preset--font-size--paragraph-medium);
}



/* ------------------------------------------- */
/* Table styles
/* ------------------------------------------- */
thead {
  color: var(--wp--preset--color--ro-medium-purple);
  letter-spacing: 1px;
  text-transform: uppercase;
}

th,
td {
  padding: 0 1rem;
}



/* ------------------------------------------- */
/* Blockquote styles
/* ------------------------------------------- */
blockquote {
  padding-left: 1.5rem;
  position: relative;
  quotes: '\201c' '\201d';
}

blockquote::before {
  color: var(--wp--preset--color--ro-medium-purple);
  content: open-quote;
  font-size: 5rem;
  left: -1rem;
  line-height: 5rem;
  position: absolute;
  top: 0;
}

blockquote,
blockquote p {
  font-family: var(--wp--preset--font-family--roc-grotesk);
}

blockquote cite {
  color: var(--wp--preset--color--ro-medium-purple);
  display: block;
  font-family: var(--wp--preset--font-family--basic-sans);
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1rem 0;
  text-transform: uppercase;
}