

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  mask-image: url('../images/banner.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 360px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/banner.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.banner__img {
  background-color: var(--wp--preset--color--ro-dark-purple);
  min-height: 360px;
  position: absolute;
  width: 100%;
}

.banner-headline {
  color: var(--wp--preset--color--ro-white);
  font-size: 3.75rem;
  line-height: 4.375rem;
  text-align: center;
  z-index: 1;
}

.btn {
  border: 1px solid red;
  color: var(--wp--preset--color--ro-white);
  font-family: var(--wp--preset--font-family--basic-sans);
}

.our-placeholder-block {
  background-color: red;
  padding: 1rem;
  font-size: 4rem;
}

.slideshow {
  border: 2px solid gray;
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 360px;
  position: relative;
  width: 100%;
}

.slide__img {
  background-color: var(--wp--preset--color--ro-medium-purple);
  min-height: 360px;
  position: absolute;
  width: 100%;
}

.ro--section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ro--section__wavy-top {
  mask-image: url('../images/section-wavy-top.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 110px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/section-wavy-top.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.ro--section__wavy-bottom {
  mask-image: url('../images/section-wavy-bottom.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 110px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/section-wavy-bottom.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.ro--section__content {
  padding: 4rem 2rem;
  text-align: center;
  width: 100%;
}

.ro--section-bg--light-green {
  background-color: var(--wp--preset--color--ro-light-green);
}

.ro--section-bg--light-purple {
  background-color: var(--wp--preset--color--ro-light-purple);

}

.ro--section-bg--cream {
  background-color: var(--wp--preset--color--ro-cream);

}

.ro--section-bg--white {
  background-color: var(--wp--preset--color--ro-white);
}