

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

.container--full-width {
  width: 100%;
}

.container--wide-size {
  max-width: 1100px;
  width: 100%;
}

.page-hero {
  position: relative;
  text-align: center;
  width: 100%;
}

.page-hero__mask {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  mask-image: url('../images/banner.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 400px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/banner.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.page-hero__img {
  background-color: var(--wp--preset--color--ro-dark-purple);
  min-height: 400px;
  position: absolute;
  width: 100%;
}

.page-hero__headline {
  color: var(--wp--preset--color--ro-white);
  font-size: 3.75rem;
  line-height: 4.375rem;
  margin: 1.5rem 0 2rem;
  text-align: center;
  z-index: 1;
}

.page-hero__subhead {
  color: var(--wp--preset--color--ro-white);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-medium);
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 1;
}

.slideshow {
  border: 2px solid gray;
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 360px;
  position: relative;
  width: 100%;
}

.slide__img {
  background-color: var(--wp--preset--color--ro-medium-purple);
  min-height: 360px;
  position: absolute;
  width: 100%;
}

.ro--section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.ro--section__wavy-top {
  mask-image: url('../images/section-wavy-top.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 110px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/section-wavy-top.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.ro--section__wavy-bottom {
  mask-image: url('../images/section-wavy-bottom.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  min-height: 110px;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('../images/section-wavy-bottom.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.ro--section__content {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  height: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.ro--section-bg--light-green {
  background-color: var(--wp--preset--color--ro-light-green);
}

.ro--section-bg--light-purple {
  background-color: var(--wp--preset--color--ro-light-purple);

}

.ro--section-bg--cream {
  background-color: var(--wp--preset--color--ro-cream);
}

.ro--section-bg--white {
  background-color: var(--wp--preset--color--ro-white);
}

.illustration-wrapper {
  position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 10px solid red;
}

.illustration {
  position: absolute;
}

.illustration--left {
  left: 0;
}

.illustration--right {
  right: 0;
}

.illustration--top {
  top: 0;
}

.illustration--bottom {
  bottom: 0;
}

div[data-type="rollinoats/illustration"],
div[data-type="rollinoats/illustration"]:hover,
div[data-type="rollinoats/illustration"]:focus {
  border: none;
}

.marquee-banner {
  align-items: center;
  background-color: var(--wp--preset--color--ro-medium-purple);
  color: var(--wp--preset--color--ro-white);
  display: flex;
  font-family: var(--wp--preset--font-family--roc-grotesk);
  font-size: 1.25rem;
  height: 5rem;
}

.marquee-banner__container {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 4rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%;
  --offset: 25vw;
  --move-start: calc(100% + var(--offset));
  --move-final: calc(-100% - var(--offset));
}

.marquee-banner__content {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.marquee-banner__content li:after {
  border-radius: 50%;
  background-color: var(--wp--preset--color--ro-white);
  bottom: 2px;
  content: ""; 
  display: inline-block;
  font-size: 1.25rem;
  height: .5rem;
  margin-left: 1rem;
  position: relative;
  width: .5rem;
}
.marquee-banner__content li:last-child:after { 
  content: none; 
}

.marquee-banner__content:nth-child(1) {
  animation: marquee 20s linear infinite;
  transform: translateX(var(--move-start));
}

.marquee-banner__content:nth-child(2) {
  animation: marquee 20s linear infinite;
  animation-delay: 10s;
  transform: translateX(var(--move-start));
}

@keyframes marquee {
  from {
    transform: translateX(var(--move-start));
  }
  to {
    transform: translateX(var(--move-final));
  }
}

.ro--header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem 0;
}

.ro--header__container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
}

.ro--navigation {
  gap: 1rem;
}

a.wp-block-navigation-item__content {
  font-size: 14px !important;
}

.ro--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.ro--footer__grid {
  align-items: flex-start;
  display: grid;
  gap: 4rem;
  grid-template-columns: 2fr 4fr 4fr;
  grid-template-rows: 1fr 4rem;
  margin-top: 3.5rem;
  max-width: 1100px;
  width: 100%;
}

label {
  color: var(--wp--preset--color--ro-dark-green);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-small);
  font-weight: normal !important;
}

input {
  border: none;
  border-radius: 0;
  color: var(--wp--preset--color--ro-dark-green);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-medium);
  padding: .5rem 1rem !important;
}

.ro--footer .gform_button {
  background-color: var(--wp--preset--color--ro-medium-green);
  border: none;
  border-radius: 0;
  color: var(--wp--preset--color--ro-white);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-small) !important;
  font-weight: 700;
  letter-spacing: 2px;
  padding: .5rem 1.5rem !important;
  text-transform: uppercase;
}


/* Block Overrides */
.ro--header__container  .wp-block-navigation__responsive-container  {
  gap: 2rem;
}

.ro--footer__nav .wp-block-navigation__container {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
}

.ro--footer label {
  color: var(--wp--preset--color--ro-dark-green);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-small);
  font-weight: normal!important;
}

.ro--footer input {
  border: none;
  color: var(--wp--preset--color--ro-dark-green);
  font-family: var(--wp--preset--font-family--basic-sans);
  font-size: var(--wp--preset--font-size--paragraph-medium)!important;
}