<!-- wp:template-part {"slug":"header","theme":"RollinOats2022","tagName":"header","className":"ro\u002d\u002dheader"} /-->

<!-- wp:block {"ref":126} /-->

<!-- wp:rollinoats/section {"wavyBottomBorder":true} -->
<section class="wp-block-rollinoats-section alignfull ro--section"><div class="ro--section-bg--light-green" style="width:100%"><div class="ro--section__content"><!-- wp:heading -->
  <h2>This is a test</h2>
  <!-- /wp:heading -->
  
  <!-- wp:paragraph -->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius bibendum volutpat. Duis accumsan dignissim odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet gravida sem, eu ullamcorper justo. Vestibulum id ligula vel libero blandit imperdiet. Donec sed dignissim orci, a fermentum odio.</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:spacer {"height":"32px"} -->
  <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
  <div class="wp-block-buttons"><!-- wp:button -->
  <div class="wp-block-button"><a class="wp-block-button__link">This is a button</a></div>
  <!-- /wp:button --></div>
  <!-- /wp:buttons --></div></div><div class="ro--section__wavy-bottom ro--section-bg--light-green"></div></section>
  <!-- /wp:rollinoats/section -->
  
  <!-- wp:rollinoats/section {"bgColorName":"cream"} -->
  <section class="wp-block-rollinoats-section alignfull ro--section"><div class="ro--section-bg--cream" style="width:100%"><div class="ro--section__content"><!-- wp:heading -->
  <h2>This is another section</h2>
  <!-- /wp:heading -->
  
  <!-- wp:paragraph -->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius bibendum volutpat. Duis accumsan dignissim odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet gravida sem, eu ullamcorper justo. Vestibulum id ligula vel libero blandit imperdiet. Donec sed dignissim orci, a fermentum odio.</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p></p>
  <!-- /wp:paragraph --></div></div></section>
  <!-- /wp:rollinoats/section -->
  
  <!-- wp:rollinoats/section {"bgColorName":"light-purple","waveBorderColorName":"light-purple","wavyTopBorder":true} -->
  <section class="wp-block-rollinoats-section alignfull ro--section"><div class="ro--section__wavy-top ro--section-bg--light-purple"></div><div class="ro--section-bg--light-purple" style="width:100%"><div class="ro--section__content"><!-- wp:heading {"textColor":"ro-dark-purple"} -->
  <h2 class="has-ro-dark-purple-color has-text-color">Heading</h2>
  <!-- /wp:heading -->
  
  <!-- wp:paragraph {"textColor":"ro-dark-purple"} -->
  <p class="has-ro-dark-purple-color has-text-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius bibendum volutpat. Duis accumsan dignissim odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sit amet gravida sem, eu ullamcorper justo. Vestibulum id ligula vel libero blandit imperdiet. Donec sed dignissim orci, a fermentum odio.</p>
  <!-- /wp:paragraph --></div></div></section>
  <!-- /wp:rollinoats/section -->
  
  <!-- wp:template-part {"slug":"footer","theme":"RollinOats2022","className":"ro\u002d\u002dfooter"} /-->