<!-- wp:template-part {"slug":"header","theme":"RollinOats2022"} /-->

<!-- wp:rollinoats/contentcontainer {"contentWidth":"regular","className":"ro\u002d\u002dcontent-container\u002d\u002dregular"} -->
<div class="wp-block-rollinoats-contentcontainer ro--content-container ro--content-container--regular ro--blog-post"><!-- wp:group {"style":{"spacing":{"margin":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
  <div class="wp-block-group" style="margin-top:3rem;margin-bottom:3rem"><!-- wp:post-date /-->
  
  <!-- wp:post-terms {"term":"post_tag"} /--></div>
  <!-- /wp:group -->
  
  <!-- wp:post-title {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"2rem"}}},"textColor":"ro-dark-purple","fontSize":"heading-medium"} /-->
  
  <!-- wp:post-content /-->
  
  <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"4rem","top":"4rem"}}}} -->
  <div class="wp-block-group" style="margin-top:4rem;margin-bottom:4rem"><!-- wp:heading {"textAlign":"center","level":4,"style":{"typography":{"textTransform":"uppercase","letterSpacing":"1px"}},"textColor":"ro-dark-purple","className":"font\u002d\u002dsans-serif","fontSize":"paragraph-medium"} -->
  <h4 class="has-text-align-center font--sans-serif has-ro-dark-purple-color has-text-color has-paragraph-medium-font-size" style="text-transform:uppercase;letter-spacing:1px">Share This Article</h4>
  <!-- /wp:heading --></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"textColor":"ro-dark-purple","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group has-ro-dark-purple-color has-text-color"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true,"fontSize":"paragraph-small"} /-->
  
  <!-- wp:post-navigation-link {"showTitle":true,"linkLabel":true} /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:rollinoats/contentcontainer -->
  
  <!-- wp:template-part {"slug":"footer","theme":"RollinOats2022"} /-->